<div class="login-container">
  <mat-card>

    <mat-card-title>
      <mat-toolbar color="primary">
        <span>{{ configs.actionText }}</span>
        <span class="spacer"></span>
        <mat-spinner
        diameter="25"
        strokeWidth="2"
        *ngIf="configs.isLoading"></mat-spinner>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">

        <mat-form-field *ngIf="!configs.isLogin">
          <input matInput type="text" placeholder="Nome" formControlName="name">
          <mat-error *ngIf="name.hasError('required')">Esse campo é obrigatório</mat-error>
          <mat-error *ngIf="name.hasError('minlength')">Senha tem que ter no minimo 5 Caracters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.hasError('required')">Esse campo é obrigatório</mat-error>
          <mat-error *ngIf="email.hasError('email')">Informe um Email válido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Senha" formControlName="password">
          <mat-error *ngIf="password.hasError('required')">Esse campo é obrigatório</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Senha tem que ter no minimo 5 Caracters</mat-error>
        </mat-form-field>

        <mat-slide-toggle [checked]="authService.manterLogado" (change)="onManterLogado()"> Manter Logado</mat-slide-toggle>
        <button type="submit" mat-button color="primary" [disabled]="loginForm.invalid"> {{ configs.actionText }}</button>
        <button type="button" mat-button color="primary" (click)="changeAction()" > {{ configs.buttonActionText }}</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
